<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.webviewfichaje">

    <!-- Permiso necesario para cargar páginas web -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="WebViewFichaje"
        android:theme="@style/Theme.WebViewFichaje">
        <activity
            android:name=".controller.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
